html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    font-family: intro;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    font-size: 15vw;
    padding: 0 4vw;
}
@media (min-width:961px) {
    a {
        font-size: 15vh;
    }
}
@font-face {
    font-family: intro;
    src: url(main/intro.otf);
}