html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: rgb(85, 51, 117);
    justify-content: center;
    align-items: center;
}
#gameScreen {
    background-color: white;
    height: 80vh;
}
#controls {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls > button {
    height: 12vw;
    width: 12vw;
    font-size: 9vw;
    justify-content: center;
    margin: 0 2vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4vw;
    cursor: pointer;
    transition: all 0.1s;
}
@media (min-width:961px) {
    #controls > button:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
#controls > button:active {
    background-color: rgba(255, 255, 255, 0.6);
}